<h1 class="title">Exibindo Situação</h1>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @situation.nome %></dd>
</dl>

<hr />

<%= link_to 'Editar', edit_situation_path(@situation), class: 'btn btn-warning' %>
<%= link_to 'Voltar', situations_path, class: 'btn btn-default' %>
