<h1 style="color: #3AAC1C">Prestação de Contas - AIPCT</h1>

<p>Prezado Pesquisador(a) <b><%= @coordenador.nome %></b>,</p>

<p>Informamos que o prazo para prestação de contas referente ao recurso AIPCT destinado ao projeto intitulado <b><%= @project.nome %></b> encerra-se em 15 dias.</p>

<p>Gratos pela compreensão.</p>

<p>Atenciosamente.</p>
