<h1 class="title">Editando Linha de Pesquisa</h1>
	
<%= render 'form' %>

<hr />

<%= link_to 'Mostrar', @research_line, class: 'btn btn-info' %>
<%= link_to 'Voltar', research_lines_path, class: 'btn btn-default' %>
