<h1 class="title">Editando Tipos de Bolsa</h1>
	
<%= render 'form' %>

<hr />

<%= link_to 'Mostrar', @scholarship_type, class: 'btn btn-info' %>
<%= link_to 'Voltar', scholarship_types_path, class: 'btn btn-default' %>
