<h1>SCP - Sistema de Controle de Projetos</h1>
<p>Este Sistema visa automatizar o controle de projetos, de forma que as entregas de relatórios possam ser gerenciadas pelo sistema, vinculação dos documetos de pesquisadores e bolsistas, ainda os documentos dos projetos, publicações e demais informações.</p>
