<h1 style="color: #3AAC1C">Aprovação de Relatório</h1>

<p>Prezado(a) Pesquisador(a) <%= @coordenador.nome %>, </p>

<p>Seu relatório referente ao projeto <b><%= @project.nome %></b> com o período de desenvolvimento de <b><%= l @report.periodo_desenvolvimento_inicio %></b> até <b><%= l @report.periodo_desenvolvimento_fim %></b> foi aprovado.</p>

<p>Atenciosamente,</p>
