<h1 style="color: #3AAC1C">Notificação - Entrega de Relatório</h1>

<p>Prezado(a) Pesquisador(a) ,</p>

<p>Gostaríamos de informar que está se aproximando a data para a entrega do relatório final de pesquisa referente ao projeto intitulado "_____________________".</p>
<p>Ao término do prazo você receberá um link para preenchimento on line do referido relatório.</p>

<p>Atenciosamente,</p>
