<h1 class="title">Editar Pesquisador</h1>

<%= render 'form' %>

<hr />

<%= link_to 'Mostrar', @researcher, class: 'btn btn-info' %>
<%= link_to 'Voltar', researchers_path, class: 'btn btn-default'%>
