<h1 class="title">Editando <%= singular_table_name.capitalize %></h1>
	
<%%= render 'form' %>

<hr />

<%%= link_to 'Mostrar', @<%= singular_table_name %>, class: 'btn btn-info' %>
<%%= link_to 'Voltar', <%= index_helper %>_path, class: 'btn btn-default' %>
