<h1 style="color: #3AAC1C">Entrega de Relatório Atrasado</h1>

<p>Prezado(a) Pesquisador(a) <%= @coordenador.nome %>, </p>

<p>Gostaríamos de informar que o relatório final do(a) aluno(a) <%= @student.nome %> referente ao projeto intitulado <b><%= @project.nome %></b> encontra-se atrasado desde <b><%= l @member_student.data_fim %></b>.</p>

<p>O modelo de relatório encontra-se disponível no site do Câmpus.</p>

<p>Atenciosamente,</p>
