<h1 style="color: #3AAC1C">Notificação de Entrega de Relatório</h1>

<p>Prezado(a) Pesquisador(a) <%= @coordenador.nome %>, </p>

<p>Gostaria de informar que já pode ser entregue o relatório final do(a) aluno(a) <b><%= @student.nome %></b> referente ao projeto intitulado <b><%= @project.nome %></b>.</p>

<p>O modelo de relatório encontra-se disponível no site do Câmpus</p>

<p>Atenciosamente,</p>
